<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>TradeSink</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <link href="/static/css/output.css" rel="stylesheet" />
</head>

<body class="bg-black text-white">
    <div class="flex justify-between items-center p-4">
        <h1 class="text-3xl font-bold">TradeSink</h1>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" hx-get="/items"
            hx-target="#items" hx-swap="outerHTML">Search Items</button>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-2 gap-4 px-4 mt-4">
        <div id="items" class="mt-4"></div>
    </div>
</body>

</html>